* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;  /* Smooth scrolling */
}

.container {
  height: 100vh;
  overflow-y: scroll;  /* Allows vertical scrolling */
  scroll-snap-type: y mandatory;  /* Enable snap scrolling on the vertical axis */
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  padding: 20px;
  text-align: center;
}

.section p {
  margin-bottom: 15px;
}

#section-1 {
  background-color: #ae1e64;
  color: rgb(215, 241, 250);
}
#section-1 a{
  color: rgb(153, 195, 231);
}



#section-2 {
  background-color: #99ccff;
}

#section-3 {
  background-color: #99ff99;
}

#section-4 {
  background-color: #ffcc99;
}

#section-5 {
  background-color: #cc99ff;
}

#section-6 {
  background-color: #ffff99;
}


#section-6 {
  background-color: #94ffb0;
}

#section-7 {
  background-color: #a494ff;
}


#section-8 {
  background-color: #e4ad4e;
}

.logo {
  width: 35%;
}

.phone-number {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  z-index: 1000;
}

.phone-number a {
  text-decoration: none;
  color: #333;
}

.phone-number a:hover {
  color: #007bff;
}




#bobbericon {
  font-size: 80px;  /* Make the arrow bigger */
  animation: bob 2s infinite;  /* Bobbing animation */
  display: inline-block;
}

/* Bobbing animation */
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
  